  /*uređivanje prostora na kome će se prikazivati sadžaj*/
  .tab {
    overflow: hidden;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
  }

  /* uređivanje dugmadi na naslovnoj strani */
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
  }

  /* Mjranjanje podzadine taba preko kojeg prelazi kursor */
  .tab button:hover {
    background-color: #ddd;
  }

  /* Mjenjanje boje taba koji se koristi */
  .tab button.active {
    background-color: #ccc;
  }

  /* uređivanje sadržaja unutar sadržaja taba */
  .tabcontent {
    display: none;
    padding: 6px 12px;
  }

  .tabcontent {
    animation: fadeEffect 1s;
    /* trajanje efekta 1 sekunda */
  }

  /*Uljepšavanje polja za pretragu*/
  input[type=search] {
    border-radius: 25px;
    padding: 12px 20px;
    margin: 8px 0;
    user-select: auto;
  }

  /* Boja zvjezdice */
  .checked {
    color: orange;
  }

  /* Efekat pri promjeni tabova */
  @keyframes fadeEffect {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
  }